#scratchpad {
    position: absolute;
    top: 124px;
    width: inherit;
    background-color: #F8F5E1;
    z-index: 105;
}

#scratchpad .cell-wrapper {
  height: 100%;
  overflow: auto;
}

.scratchpad-btn {
  position: absolute;
  top: 0px;
  right: -24px;
  opacity: 0.2;
  font-size: 24px;
  z-index: 106;
}

.scratchpad-btn:hover {
  opacity: 1;
}

.scratchpad-close {
  display: none;
}

.scratchpad-open {
}

.cell-wrapper{
    height: auto;
}
